{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block head %}
    {{ super() }}
    <style>
        body {
            min-height: 75rem;
            padding-top: 4.5rem;
            align-items: center;
            text-align: center;
        }
    </style>
{% endblock %}
{% block content %}
    <h1>Welcome to LVS</h1>
    <p>Los Vaqueros Stats is originally built by Nathan Parnell as a personal project, 
        so our group of friends, &lpar;Los Vaqueros&rpar;, could settle once and for all: Who 
        carries the team to those weekly soccer wins. 
    </p>

    <p>
        The sign up process is intentionally minimal &lpar;No Email Required!&rpar; to get you right into the action as soon as possible.
        Designed for Mobile so you can enter your points in before you're even back to the car.
    </p>
    <img src="../static/Dark Logo.png" alt="" width="100%" height="25%">
{% endblock %}
